<form action="/recipes/suggest" method="post">
	<label for="name">Recipe Title</label>
    <input type="text" name="name" value="" id="name">
    
    <label for="ingredients">Ingredients</label>
    <textarea name="ingredients" rows="8" cols="40" id="ingredients"></textarea>
    
    <label for="directions">Directions</label>
    <textarea name="directions" id="directions" rows="8" cols="40"></textarea>
    
    <p>
    	<input type="submit" name="submit" value="submit"></p>
    </p>
</form>