<!doctype html>
<head>
	<title><%= title %></title>
    <style type="text/css" media="screen">
		body {
			font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
		}
	</style>
</head>
<body>
	<%- body %>
</body>
</html>