<!doctype html>
<head>
	<title><%= title %></title>
	<style type="text/css" media="screen">
		body {
		  font-family: "Gill Sans", Helvetica, Arial;
		}
	</style>
</head>
<body>
	<%- body %>
</body>
</html>